
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>

    <!-- Include Editor style. -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Ubuntu" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link href="/css/style.css" rel="stylesheet">
     <link href="/css/form-elements.css" rel="stylesheet">
     <link href="/css/proposal_form.css" rel="stylesheet">
      <link href="/css/error.css" rel="stylesheet">
      <link href="/css/styleproposal.css" rel="stylesheet">

  </head>

  <body>

    


    {{{ body }}}

<!-----------------------------------Script file----------------------------->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <!-- Javascript -->
        
        
        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/jquery.backstretch.min.js"></script>
        <script src="/js/retina-1.1.0.min.js"></script>
        
<!-- Text editor-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.pkgd.min.js"></script>
        <script src="/js/scripts.js"></script> 



                        
 
    <!----------------------Initialize the editor.--------------------->
    
    <script> $(function() { $('#editor').froalaEditor() }); </script>                                 
        
<!------------------------Add and Remove child---------------------------->
      <script type="text/javascript">
      $(document).ready(function () {
    //@naresh action dynamic childs
    var next = 0;
    $("#add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<div id="field'+ next +'"> <div class="form-group"> <label for="f1-name">Name</label> <input type="text" name="memberName[]" placeholder="Name" class="f1-name form-control" id="f1-name"> </div><div class="form-group"> <label for="f1-email">Email</label> <input type="text" name="memberEmail[]" placeholder="Email" class="f1-email form-control" id="f1-email"> </div><div class="form-group"> <label for="f1-number">Id</label> <input type="number" name="memberId[]" placeholder="1412020028" class="f1-number form-control" id="f1-number"> </div><div class="form-group"> <label for="f1-number">Mobile</label> <input type="number" name="memberNumber[]" placeholder="+880 1750 000 000" class="f1-number form-control" id="f1-number"> </div></div>';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >Remove</button><hr></div></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);  
        
            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });

});
    </script>
     
    <script>
        function enableButton2() {
            document.getElementById("button2").disabled = false;
        }
    </script>
  </body>
</html>
