body
{
    background-color: #1D2733;
}



h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
p,button,a,input,label,select,strong,textarea,span
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}
.margin_padding
{
    margin-left:0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

/****************Navigation**************/

.navigation .navbar-inverse
{
    background-color:#373f46;
    border: none;
}
.navigation .navbar
{
    border-radius: 0%;
    margin-bottom: 0%;
}



/********************Steps*******************/
.steps
{
    background: #e6eaed;
    padding: 5%;
}
.steps h3
{
    margin-bottom:5%; 
    color: #667685;
    font-weight: 500;
    font-size: 23px;
}
.steps h4
{ 
    margin-bottom:5%;
    margin-top:7%;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.steps p
{
    font-size: 16px;
    color: #909ea9;
    letter-spacing: 1px;
}
.step-1
{
   color: #25b086; 
}
.step-2
{
  color: #18acb6;  
}
.step-3
{
    color: #1aa2eb;
}
/******************Features-1*****************/

.features-1
{
    background: #373f46;
    padding: 5%;
}
.features-1 h3
{
    margin-bottom:5%; 
    color: #848a8f;
    font-weight: 500;
    font-size: 23px;
}
.features-1 h4
{
    margin-top: 2%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-1 p
{
    
   font-size: 16px;
    color: #909ea9;
    
    line-height: 1.828571;
}

/******************Features-2*****************/

.features-2
{
    background:#31383f;
    padding: 5%;
}
.features-2 h4
{
    margin-top: 6%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-2 p
{
    
    font-size: 16px;
    color: #909ea9;
    line-height: 1.828571;
}
/******************Features-3*****************/

.features-3
{
    background: #373f46;
    padding: 5%;
}
.features-3 h3
{
    margin-bottom:5%; 
    color: #848a8f;
    font-weight: 500;
    font-size: 23px;
}
.features-3 h4
{
    margin-top: 2%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-3 p
{
    
   font-size: 16px;
    color: #909ea9;
    
    line-height: 1.828571;
}
/******************Features-4*****************/

.features-4
{
    background:#31383f;
    padding: 5%;
}
.features-4 h4
{
    margin-top: 6%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-4 p
{
    
    font-size: 16px;
    color: #909ea9;
    line-height: 1.828571;
}
/******************Features-5*****************/

.features-5
{
    background: #373f46;
    padding: 5%;
}
.features-5 h3
{
    margin-bottom:5%; 
    color: #848a8f;
    font-weight: 500;
    font-size: 23px;
}
.features-5 h4
{
    margin-top: 12%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-5 p
{
    
   font-size: 16px;
    color: #909ea9;
    
    line-height: 1.828571;
}


/*****************Log In*****************/
.login
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    color: white;
}
.login h2
{
    padding-bottom: 4.2%;
}
.log_left
{
    background-color: #384B5C;
    border-radius: 4px 0 0 4px;
    padding: 5%;
}
.log_right
{
    background-color: #304150;
    border-radius: 0 4px 4px 0;
    padding-top: 5.1%;
}
.login a
{
    color: orange;
    text-decoration: none;
}
.login button
{
   background-color: rgba(50, 172, 237, 0.2);
   width: 100%;
   border: none;
   border-radius: 0px;
   height: 50px; 
   color:#E4E6E6;
   letter-spacing: 2px;
   font-weight: 500;
   transition: all .9s linear;
   font-size: 14px; 
}
.login button:hover
{
   
    background-color: rgba(240, 250, 255, 0.1);
    transition: all .9s linear;
    color:#E4E6E6;
}
.login input
{
    background-color: #304150;
    color: white;
    height: 45px;
    border: 0.5px solid white;
}
.login .input-group
{
     padding: 5%;
}
.login .input-group-addon
{
   
  background-color: #1d2733;
  color: #bdb5b5;
  border: 0.5px solid white;    
}

/****************Sign Up****************/
.signup
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    color: white;
}
.signup h2
{
    padding-bottom: 37.7%;
}
.sign_left
{
    background-color: #384B5C;
    border-radius: 4px 0 0 4px;
    padding: 5%;
}
.sign_right
{
    background-color: #304150;
    border-radius: 0 4px 4px 0;
    padding-top: 5%;
}
.signup a
{
    color: orange;
    text-decoration: none;
}
.signup button
{
   background-color: rgba(50, 172, 237, 0.2);
   width: 100%;
   border: none;
   border-radius: 0px;
   height: 50px; 
   color:#E4E6E6;
   letter-spacing: 2px;
   font-weight: 500;
   transition: all .9s linear;
   font-size: 14px; 
}
.signup button:hover
{
   
    background-color: rgba(240, 250, 255, 0.1);
    transition: all .9s linear;
    color:#E4E6E6;
}
.signup input
{
    background-color: #304150;
    color: white;
    border: 0.5px solid white;
}
.signup .input-group
{
     padding: 4%;
}
.signup .input-group-addon
{
   
  background-color: #1d2733;
  color: #bdb5b5;
  border: 0.5px solid white;    
}
.signup .checkbox
{
   
  padding: 0px 25px 25px 25px;
     
}
#disbtn
{
    color: black !important;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
}
.alertbox
{
 border-radius: 6px; 
}
/*************welcome Board************/
.board
{
    
    margin-top: 5%;
}
.btn_wel
{
    background-color: #373f46;
    color: white;
    width: 100%;
    height: 100px;
}
.btn_wel:hover
{
    color: white;
}
.btn_wel:focus
{
    color: white;
}
.board a
{
   color: black;
}

/*****************Board****************/
.add_list 
{
 margin-top: 5%;
}
.add_list a
{
    color: black;
    text-decoration: none;
}
/**************drop_content**************/
.drop_content
{
    width:262px;
    padding: 10px;
}
.drop_content .fa
{
  color: black;
  font-size: 20px;    
}
.drop_content p
{
  
  font-size: 12px;    
}
.drop_content h5
{
  font-weight: bold;
  letter-spacing: 2px;    
}
.drop_content a
{
    color: black;
    text-decoration: none; 
}
.drop_content a:hover
{
   color:#1a486f;  
}
/* profile */
.profile
{
    padding:  10%;
    color: gainsboro;
}
.profile label
{
    letter-spacing: 1px;
    
}