body
{
    background-color: #1D2733;
}



h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
p,button,a,input,label,select,strong,textarea,span
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}
.margin_padding
{
    margin-left:0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

/****************Navigation**************/

.navigation .navbar-inverse
{
    background-color:#373f46;
    border: none;
}
.navigation .navbar
{
    border-radius: 0%;
    margin-bottom: 0%;
}



/********************Steps*******************/
.steps
{
    background: #e6eaed;
    padding: 5%;
}
.steps h3
{
    margin-bottom:5%; 
    color: #667685;
    font-weight: 500;
    font-size: 23px;
}
.steps h4
{ 
    margin-bottom:5%;
    margin-top:7%;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.steps p
{
    font-size: 16px;
    color: #909ea9;
    letter-spacing: 1px;
}
.step-1
{
   color: #25b086; 
}
.step-2
{
  color: #18acb6;  
}
.step-3
{
    color: #1aa2eb;
}
/******************Features-1*****************/

.features-1
{
    background: #373f46;
    padding: 5%;
}
.features-1 h3
{
    margin-bottom:5%; 
    color: #848a8f;
    font-weight: 500;
    font-size: 23px;
}
.features-1 h4
{
    margin-top: 2%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-1 p
{
    
   font-size: 16px;
    color: #909ea9;
    
    line-height: 1.828571;
}

/******************Features-2*****************/

.features-2
{
    background:#31383f;
    padding: 5%;
}
.features-2 h4
{
    margin-top: 6%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-2 p
{
    
    font-size: 16px;
    color: #909ea9;
    line-height: 1.828571;
}
/******************Features-3*****************/

.features-3
{
    background: #373f46;
    padding: 5%;
}
.features-3 h3
{
    margin-bottom:5%; 
    color: #848a8f;
    font-weight: 500;
    font-size: 23px;
}
.features-3 h4
{
    margin-top: 2%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-3 p
{
    
   font-size: 16px;
    color: #909ea9;
    
    line-height: 1.828571;
}
/******************Features-4*****************/

.features-4
{
    background:#31383f;
    padding: 5%;
}
.features-4 h4
{
    margin-top: 6%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-4 p
{
    
    font-size: 16px;
    color: #909ea9;
    line-height: 1.828571;
}
/******************Features-5*****************/

.features-5
{
    background: #373f46;
    padding: 5%;
}
.features-5 h3
{
    margin-bottom:5%; 
    color: #848a8f;
    font-weight: 500;
    font-size: 23px;
}
.features-5 h4
{
    margin-top: 12%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}
.features-5 p
{
    
   font-size: 16px;
    color: #909ea9;
    
    line-height: 1.828571;
}


/*****************Log In*****************/
@media screen and (max-width: 2000px) and (min-width: 768px) {
    .login {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);  
        color: white;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .login {
        margin-top: 20%; 
        color: white;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .log_right
        {
           padding-top: 8.3% !important;
        }
}

.login h2
{
    padding-bottom: 4.2%;
}
.log_left
{
    background-color: #384B5C;
    border-radius: 4px 0 0 4px;
    padding: 5%;
}
.log_right
{
    background-color: #304150;
    border-radius: 0 4px 4px 0;
    padding-top: 5.1%;
}
.login a
{
    color: orange;
    text-decoration: none;
}
.login button
{
   background-color: rgba(50, 172, 237, 0.2);
   width: 100%;
   border: none;
   border-radius: 0px;
   height: 50px; 
   color:#E4E6E6;
   letter-spacing: 2px;
   font-weight: 500;
   transition: all .9s linear;
   font-size: 14px; 
}
.login button:hover
{
   
    background-color: rgba(240, 250, 255, 0.1);
    transition: all .9s linear;
    color:#E4E6E6;
}
.login input
{
    background-color: #304150;
    color: white;
    height: 45px;
    border: 0.5px solid white;
}
.login .input-group
{
     padding: 5%;
}
.login .input-group-addon
{
   
  background-color: #1d2733;
  color: #bdb5b5;
  border: 0.5px solid white;    
}

/****************Sign Up****************/

@media screen and (max-width: 2000px) and (min-width: 768px) {
    .signup {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);  
        color: white;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .signup {
        margin-top: 20%; 
        color: white;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .sign_right
        {
           padding-top: 5.3% !important;
        }
}
.signup h2
{
    padding-bottom: 37.7%;
}
.sign_left
{
    background-color: #384B5C;
    border-radius: 4px 0 0 4px;
    padding: 5%;
}
.sign_right
{
    background-color: #304150;
    border-radius: 0 4px 4px 0;
    padding-top: 5%;
}
.signup a
{
    color: orange;
    text-decoration: none;
}
.signup button
{
   background-color: rgba(50, 172, 237, 0.2);
   width: 100%;
   border: none;
   border-radius: 0px;
   height: 50px; 
   color:#E4E6E6;
   letter-spacing: 2px;
   font-weight: 500;
   transition: all .9s linear;
   font-size: 14px; 
}
.signup button:hover
{
   
    background-color: rgba(240, 250, 255, 0.1);
    transition: all .9s linear;
    color:#E4E6E6;
}
.signup input
{
    background-color: #304150;
    color: white;
    border: 0.5px solid white;
}
.signup .input-group
{
     padding: 4%;
}
.signup .input-group-addon
{
   
  background-color: #1d2733;
  color: #bdb5b5;
  border: 0.5px solid white;    
}
.signup .checkbox
{
   
  padding: 0px 25px 25px 25px;
     
}
#disbtn
{
    color: black !important;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
}
.alertbox
{
 border-radius: 6px; 
}
/*************welcome Board************/
.board
{
    
    margin-top: 5%;
}
.btn_wel
{
    background-color: #373f46;
    color: white;
    width: 100%;
    height: 100px;
}
.btn_wel:hover
{
    color: white;
}
.btn_wel:focus
{
    color: white;
}
.board a
{
   color: black;
}

/*****************Board****************/
.add_list 
{
 margin-top: 5%;
}
.add_list a
{
    color: black;
    text-decoration: none;
}
/**************drop_content**************/
.drop_content
{
    width:262px;
    padding: 10px;
}
.drop_content .fa
{
  color: black;
  font-size: 20px;    
}
.drop_content p
{
  
  font-size: 12px;    
}
.drop_content h5
{
  font-weight: bold;
  letter-spacing: 2px;    
}
.drop_content a
{
    color: black;
    text-decoration: none; 
}
.drop_content a:hover
{
   color:#1a486f;  
}
/* profile */
.profile
{
    padding:  10%;
    color: gainsboro;
}
.profile label
{
    letter-spacing: 1px;
    
}
/************Project board*************/

/**************Side bar***************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #23282d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
    margin-top: 4.1%;
    color: #818181;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*************Personal Board************/

.board {
    margin-top: 5%;
}

.btn_wel {
    background-color: #373f46;
    color: white;
    width: 100%;
    height: 100px;
}

.btn_wel:hover {
    color: white;
}

.btn_wel:focus {
    color: white;
}

.board a {
    color: black;
}

/*****************Board****************/

.add_list {
    margin-top: 5%;
}

.add_list a {
    color: black;
    text-decoration: none;
}

/*****************Modal*****************/

.modal-content {
    padding: 0px 40px 0px 40px;
    color: black;
    background-color: white;
}

.modal-header {
    padding: 0;
}

.modal-header .close {
    padding-top: 40px;
}

.modal-body .form-group {
    margin-bottom: 10px;
}

.btn-default.contact_button {
    background-color: #0000002e !important;
    color: white;
    letter-spacing: 3px;
    font-size: 13px;
    transition: all .5s linear;
    width: 100%;
    border: 0px;
    height: 40px;
}

.contact_button:hover {
    background-color: #0000002e !important;
    font-size: 14px;
    color: white;
}

.modal-content input {
    height: 50px !important;
    color: black;
}

.modal-content select {
    height: 50px !important;
}

.modal-content label {
    letter-spacing: 2px;
}

element.style {
    height: 48px !important;
}

.modal-content input {
    height: 50px !important;
}

.modal-content input[type=file] {
    display: block;
    padding-top: 12px;
}

.modal-body a {
    padding: 4px 4px 4px 0px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    transition: 0.3s;
}

.modal-body a:hover {
    color: #373f46;
}

/* #disbtn
{
    color: black !important;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
} */

#disbtn {
    color: black !important;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
}

.alertbox {
    border-radius: 6px;
    margin-top: 4%;
}

/* profile */

.profile {
    padding: 10%;
    color: gainsboro;
}

.profile label {
    letter-spacing: 1px;
}

/* Chat */

.chat {
    margin-top: 5%;
}

.margin_padding_zero {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.chat_left {
    background: rgba(12, 92, 136, 0.5);
    min-height: 496px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: whitesmoke;
}

.chat_left .list-group-item {
    padding: 5px 15px;
}

.chat_left .list-group-item-success {
    color: #3a5d6f;
}

.chat_right {
    padding: 4%;
    min-height: 450px;
    background: rgba(61, 98, 117, 0.92);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: whitesmoke;
}

.right_inside {
    background-color: #576c77;
    min-height: 370px;
    border-radius: 3px;
    padding: 3%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.message textarea {
    border-bottom-right-radius: 0% !important;
    border-top-right-radius: 0% !important;
    border: none;
    background-color: whitesmoke;
}

.message button {
    border-bottom-left-radius: 0% !important;
    border-top-left-radius: 0% !important;
    border: none;
    background-color: #1d2733;
}

.message button:hover,
:focus {
    background-color: #1d2733;
}

.message button:focus {
    background-color: #1d2733;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.center h1 {
    color: #fff;
}

.center p {
    color: #fff;
}