{{>navbar}}
<!--STEP-->
    <div class="container-fluid steps">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-center">
                        MongoDB on AWS, Azure, or Google. It's this easy.
                    </h3>    
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="center-block img-responsive" src="/img/easy-step-1.png">
                    <div class="col-md-12">
                        <h4 class="text-center step-1">Create a database</h4>
                        <p class="text-center">
                            Use the cloud datacenter of your<br>choice.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="center-block img-responsive" src="/img/easy-step-2.png">
                    <div class="col-md-12">
                        <h4 class="text-center step-2">Paste your connection URI</h4>
                        <p class="text-center">
                            Once your database is ready, just<br>plug a code into your app.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="center-block img-responsive" src="/img/easy-step-3.png">
                    <div class="col-md-12">
                        <h4 class="text-center step-3">Build the future</h4>
                        <p class="text-center">
                            Customize your install to your<br>business needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--Features-1-->
    <div class="container-fluid features-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-center">
                        Database-as-a-Service features
                    </h3>    
                </div>
<!--Cloud Automation -->                
                <div class="col-md-6 col-xs-12">
                    <img class="pull-right img-responsive" src="/img/features_automation@2x.png" height="200" width="320">
                </div>

                <div class="col-md-6 col-xs-12">
                    <h4>Cloud Automation</h4>
                    <p>On-demand provisioning on AWS, Azure, or Google<br>Single-node, Replica Set, or Sharded Cluster<br>Seamless, zero-downtime scaling<br>High availability via auto-failover</p>
                </div>
            </div>
        </div>
    </div>
    
<!--Features-2-->
    <div class="container-fluid features-2">
        <div class="container">
            <div class="row">
<!--Backups-->                
                <div class="col-md-6 col-xs-12">
                    <img class="pull-right img-responsive" src="/img/features_backups@2x.png" height="200" width="250">
                </div>

                <div class="col-md-6 col-xs-12">
                    <h4>Backups</h4>
                    <p>Free, audited backups<br>Easy restores<br>Flexible customization options</p>
                </div>
            </div>
        </div>
    </div>  
      
<!--Features-3-->
    <div class="container-fluid features-3">
        <div class="container">
            <div class="row">
<!--Monitoring-->                
                <div class="col-md-6 col-xs-12">
                    <img class="pull-right img-responsive" src="/img/features_monitoring@2x.png" height="200" width="250">
                </div>

                <div class="col-md-6 col-xs-12">
                    <h4>Monitoring</h4>
                    <p>Continuous, 24x7 monitoring<br>Real-time and historical performance graphs<br>Custom alerts<br>Slow query analyzer</p>
                </div>
            </div>
        </div>
    </div>

<!--Features-4-->
    <div class="container-fluid features-4">
        <div class="container">
            <div class="row">
<!--Data Browser-->                
                <div class="col-md-6 col-xs-12">
                    <img class="pull-right img-responsive" src="/img/features_browser@2x.png" height="200" width="250">
                </div>

                <div class="col-md-6 col-xs-12">
                    <h4>Data Browser</h4>
                    <p>Query editor and saved searches<br>Tabular data views<br>JSON document editor</p>
                </div>
            </div>
        </div>
    </div>  

<!--Features-5-->
    <div class="container-fluid features-5">
        <div class="container">
            <div class="row">
<!--Premium Support-->                
                <div class="col-md-6 col-xs-12">
                    <img class="pull-right img-responsive" src="/img/features_support@2x.png" height="200" width="250">
                </div>

                <div class="col-md-6 col-xs-12">
                    <h4>Premium Support</h4>
                    <p>Thoughtful, timely advice from real developers<br>Expert help at support@mlab.com<br>24x7 emergency hotline for Dedicated Cluster plans</p>
                </div>
            </div>
        </div>
    </div>                                    
